Repository NVIDIA/clara-dicom-adapter, pull requests merged in 2021-01, with the labels that each got.

#39 Remove xUnit Reports
  .github/workflows/build.yml
  src/API/Test/Nvidia.Clara.Dicom.API.Test.csproj
  src/Common/Test/Nvidia.Clara.Dicom.Common.Test.csproj
  src/Configuration/Test/Nvidia.Clara.Dicom.Configuration.Test.csproj
  src/DicomWebClient/Test/Nvidia.Clara.Dicom.DicomWebClient.Test.csproj
  src/Server/Test/Integration/Nvidia.Clara.DicomAdapter.Test.Integration.csproj
  src/Server/Test/IntegrationCrd/Nvidia.Clara.DicomAdapter.Test.IntegrationCrd.csproj
  src/Server/Test/Unit/Nvidia.Clara.DicomAdapter.Test.Unit.csproj
  src/coverlet.runsettings
  src/run-tests.sh
Labels: continuous integration

#40 [Cherrypick] CI changes to release 0.8.1
  .github/workflows/build.yml
  src/API/Test/Nvidia.Clara.Dicom.API.Test.csproj
  src/Common/Test/Nvidia.Clara.Dicom.Common.Test.csproj
  src/Configuration/Test/Nvidia.Clara.Dicom.Configuration.Test.csproj
  src/DicomWebClient/Test/Nvidia.Clara.Dicom.DicomWebClient.Test.csproj
  src/Server/Test/Integration/Nvidia.Clara.DicomAdapter.Test.Integration.csproj
  src/Server/Test/IntegrationCrd/Nvidia.Clara.DicomAdapter.Test.IntegrationCrd.csproj
  src/Server/Test/Unit/Nvidia.Clara.DicomAdapter.Test.Unit.csproj
  src/coverlet.runsettings
  src/run-tests.sh
Labels: continuous integration

#32 DICOMweb client - STOW APIs
  src/API/Nvidia.Clara.Dicom.API.csproj
  src/Common/Nvidia.Clara.Dicom.Common.csproj
  src/DicomWebClient/API/DicomWebClientException.cs
  src/DicomWebClient/API/DicomWebResponse.cs
  src/DicomWebClient/API/IDicomWebClient.cs
  src/DicomWebClient/API/IQidoService.cs
  src/DicomWebClient/API/IServiceBase.cs
  src/DicomWebClient/API/IStowService.cs
  src/DicomWebClient/API/IWadoService.cs
  src/DicomWebClient/API/MimeMappings.cs
  src/DicomWebClient/API/ResponseDecodeException.cs
  src/DicomWebClient/API/UnsupportedReturnTypeException.cs
  src/DicomWebClient/CLI/Nvidia.Clara.Dicom.DicomWeb.Client.CLI.csproj
  src/DicomWebClient/CLI/Program.cs
  src/DicomWebClient/CLI/Properties/launchSettings.json
  src/DicomWebClient/CLI/Qido.cs
  src/DicomWebClient/CLI/Stow.cs
  src/DicomWebClient/CLI/Utils.cs
  src/DicomWebClient/CLI/Wado.cs
  src/DicomWebClient/Common/HttpResponseMessageExtension.cs
  src/DicomWebClient/DicomWebClient.cs
  src/DicomWebClient/Nvidia.Clara.Dicom.DicomWeb.Client.csproj
  src/DicomWebClient/Services/QidoService.cs
  src/DicomWebClient/Services/ServiceBase.cs
  src/DicomWebClient/Services/StowService.cs
  src/DicomWebClient/Services/WadoService.cs
  src/DicomWebClient/Test/DicomFileGeneratorFixture.cs
  src/DicomWebClient/Test/DicomWebClientTest.cs
  src/DicomWebClient/Test/HttpMessageExtensionTest.cs
  src/DicomWebClient/Test/QidoServicetEST.cs
  src/DicomWebClient/Test/StowServiceTest.cs
  src/DicomWebClient/Test/WadoServiceTest.cs
  src/Server/Nvidia.Clara.DicomAdapter.csproj
  src/Server/Program.cs
  src/Server/Repositories/IDicomWebClientFactory.cs
  src/Server/Services/Jobs/DataRetrievalService.cs
  src/Server/Test/Unit/Services/Job/DataRetrievalServiceTest.cs
Labels: DICOMweb

#43 Move Helm Chart CRDs to Support Helm3
  helm-chart/dicom-adapter/crds/crd-claraAeTitles.yaml
  helm-chart/dicom-adapter/crds/crd-destinations.yaml
  helm-chart/dicom-adapter/crds/crd-sources.yaml
Labels: helm chart

#46 [Cherry-pick] Update setup doc with instructions to configure SCP port
  .github/workflows/build.yml
  docs/setup/schema.md
  docs/setup/setup.md
  helm-chart/dicom-adapter/templates/deployment.yaml
  helm-chart/dicom-adapter/templates/service.yaml
  helm-chart/dicom-adapter/values.yaml
Labels: documentation, helm chart

#50 Create AET doc updates & Move CRDs for helm 3
  docs/setup/setup.md
  helm-chart/dicom-adapter/crds/crd-inferenceRequests.yaml
  helm-chart/dicom-adapter/crds/crd-inferenceRequestsArchive.yaml
  helm-chart/dicom-adapter/crds/crd-jobs.yaml
  src/Server/Services/Http/CrdCrudControllerBase.cs
Labels: documentation, enhancement, helm chart

#51 Job Status API
  CONTRIBUTING.md
  docs/api/rest.md
  docs/docfx.json
  src/API/IJobs.cs
  src/API/Nvidia.Clara.Dicom.API.csproj
  src/API/Rest/Enums.cs
  src/API/Rest/InferenceRequest.cs
  src/API/Rest/InferenceStatusResponse.cs
  src/API/Test/InferenceRequestTest.cs
  src/API/Test/Nvidia.Clara.Dicom.API.Test.csproj
  src/Common/Nvidia.Clara.Dicom.Common.csproj
  src/Common/RequiredIfAttribute.cs
  src/Common/Test/Nvidia.Clara.Dicom.Common.Test.csproj
  src/Configuration/Nvidia.Clara.Dicom.Configuration.csproj
  src/Configuration/Test/Nvidia.Clara.Dicom.Configuration.Test.csproj
  src/DicomWebClient/CLI/Nvidia.Clara.Dicom.DicomWeb.Client.CLI.csproj
  src/DicomWebClient/Common/HttpResponseMessageExtension.cs
  src/DicomWebClient/Nvidia.Clara.Dicom.DicomWeb.Client.csproj
  src/DicomWebClient/Services/QidoService.cs
  src/DicomWebClient/Services/ServiceBase.cs
  src/DicomWebClient/Services/WadoService.cs
  src/DicomWebClient/Test/DicomFileGeneratorFixture.cs
  src/DicomWebClient/Test/Nvidia.Clara.Dicom.DicomWebClient.Test.csproj
  src/Server/Common/CustomResourceWatcher.cs
  src/Server/Nvidia.Clara.DicomAdapter.csproj
  src/Server/Repositories/ClaraJobsApi.cs
  src/Server/Repositories/KubernetesWrapper.cs
  src/Server/Services/Disk/SpaceReclaimerService.cs
  src/Server/Services/Export/DicomWebExportService.cs
  src/Server/Services/Export/ExportServiceBase.cs
  src/Server/Services/Export/ScuExportService.cs
  src/Server/Services/Http/CrdCrudControllerBase.cs
  src/Server/Services/Http/InferenceController.cs
  src/Server/Services/Http/Startup.cs
  src/Server/Services/Jobs/IInferenceRequestStore.cs
  src/Server/Services/Jobs/InferenceRequestStore.cs
  src/Server/Test/Integration/Nvidia.Clara.DicomAdapter.Test.Integration.csproj
  src/Server/Test/IntegrationCrd/Nvidia.Clara.DicomAdapter.Test.IntegrationCrd.csproj
  src/Server/Test/Shared/DcmtkLauncher.cs
  src/Server/Test/Unit/Nvidia.Clara.DicomAdapter.Test.Unit.csproj
  src/Server/Test/Unit/Repositories/ClaraJobsApiTest.cs
  src/Server/Test/Unit/Services/Export/ExportServiceBaseTest.cs
  src/Server/Test/Unit/Services/Http/InferenceControllerTest.cs
  src/Server/Test/Unit/Services/Job/InferenceRequestStoreTest.cs
Labels: documentation, enhancement
